.navbar-brand {
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  /* line-height: 76px; */

  color: #000000;
}

.navbar-ul {
  display: flex;
  align-items: center;
  /* margin-right: 2rem; */
}
.navbar-ul li {
  margin-left: 4rem;
}

.navbar-link {
  text-decoration: none;
  font-family: "Saira", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 38px;
  margin: 0px;
  color: #000000;
}
