.footer{
  background-color:	#ffff;
  align-items: center;
}

.foot .footer__text{
  text-align: center;
}

.foot .input {
  text-decoration: none;
  color: #0E185F;
  font-size: 20px;
  margin-bottom: 10px;
}
