.footer{
  background-color:	#B3CFE4;
  align-items: center;
}

.foot .footer__text{
  text-align: center;
}

.foot .input {
  text-decoration: none;
  color: #ffff;
  font-size: 30px;
  margin-bottom: 10px;
}
