
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: Roboto;
  letter-spacing: -0.04em;
}

.buttons {
    width: 450px;
    min-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: #23286B;
    color: #ffff;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 0px
}
